		body {background-color: #000;}

		#wrapper {width: 1024px;
				height: 768px;
				margin: 0 auto;
				font-family: 'Eater', cursive;
				background-image: url(fondo.jpg);}

		#uno{padding-top: 50px;
			padding-left: 50px;
			font-size: 40px;}

		#dos{padding-left: 80px;
			font-size: 25px;}

		#zombie{position: absolute;
				left: 500px;
				top: 300px;
				visibility: hidden;}

		#luna{width: 110px;
			height: 110px;
			margin-left: 700px;
			margin-top: -30px;}