	body {background-color: rgb(84,77,49);}

	#wrapper {
		width: 1124px;
		height: 840px;
        border-radius:2.5em;
		background-image: url(imagenes/otono.jpg);
		margin: auto;}

	#poema {width: 300px;
			padding-left:50px ;
			background-color: rgb(190,181,143);
			margin-left: 700px;
			margin-top: 100px;
	        text-align: center;
	        border-radius:2.5em;
			font-family: 'Pacifico', cursive;}