			body{padding-left: 215px;
				background-color: rgb(120,129,107);
				margin: auto;}

			h1 {text-align: center rgb(203,63,27);
				font-size: 2em;
				margin: 30px auto;
				padding-top: 20px;
				font-family: 'Parisienne', cursive;}

			#wrapper {background-color: #FBE6E3;
					background-image: url(imagenes/fondo_lluvia.gif);
					width: 600px;
					text-align: center;
					font-size: 1.7em;
					border-radius: 3.5em;
					padding: left 200px;
					margin: 15px auto;
					font-family: 'Dancing Script', cursive;
					box-shadow: 20px 14px 40px grey;}

			#fondo {background-image: url(imagenes/fondo_poema.jpg);
					border-radius: 3.5em;
					box-shadow:inset 20px 14px 40px grey;
					padding: 20px;
					width: 850px;}

			small {margin-left: 230px;
					font-size: 87%;}

			p:first-letter{font-size: 150%}