body{
	background-color:#AE5C0B;
}

form{
	background-color:#F2BE8A;
	text-align:center;
	padding:10px;
	font-family: "arial", Times, serif;

}

h4.titulo{
	color: white;
}

p{
	color:#AE5C0B;
}

input.cuadrado[type=checkbox] {
	margin-left:2.5px;
	
	
	
	
}

input[type=text] {
	
}