body{background-image: url(imagenes/tile-sky2.jpg);
	font-family: 'Kaushan Script', cursive;}

#wrapper{width: 700px;
		margin: 0 auto;}

#header{background-image: url(imagenes/header.jpg);
		height: 140px;}

#rotulo{color: white;
		position: relative;
		top: 65px;
		left: 485px;
		font-size: 35px;}

#nav, #footer{background-color: rgb(135,75,109);
	text-align: center;
	padding: 8px;
	font-weight: bold;/*Para poner la letra mas gruesa*/}

#footer{font-family: Arial, Verdana, sans-serif;
		font-size: 75%;}

#main{background-image: url(imagenes/tile.jpg);
	padding: 10px;
	text-align: justify;
	color: white;}

#titulo{text-align: center;
		color: lightblue;
		font-size: 22px;}

p{text-indent: 1.5em;/*Para indentar los párrafos*/}

img{margin: 10px;}